<mat-dialog-content id="login-dialog-content">
    <button id="close-button">X</button>
    <form class="form-group" action="">
        <div class="form-group">
            <label for="">User Name</label>
            <input class="form-control" type="text" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input class="form-control" type="password" placeholder="">
        </div>
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Login</button>
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
        <br>
        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">Sign in</a>
    </form>
</mat-dialog-content>