header {
	height: 210px;
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
	background-image: url(../img/bg02.png);
	background-size: 100% 100%;
	color: whitesmoke;
	box-shadow: 10px 5px 5px #888888;
}

header .tstitle {
	position: fixed;
	width: 650px;
	height: 180px;
	margin: 10px;
	font-size: 2em;
	text-align: center;
}

header .loginarea{
	background-color: sandybrown;
	background-image: linear-gradient(to bottom, white, sandybrown);
	background-size: 100% 100%;
	width: 410px;
	height: 130px;
	position: relative;
	top:-55px;
	left: 1070px;
	border-radius: 90px;
}

.arrow {
	height: 40px;
}

header .arrowp{
	position: relative;
	top:-150px;
	left: 535px;
}

header #searchbar{
	height: 40px;
	width: 460px;
	background-color: deepskyblue;
	border-radius: 10px;
}

#searchBar {
	width: 445px;
	height: 36px;
	border: 2px solid #000033;
}

#searchbar input{
	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	width: 405px;
	height: 32px;
	padding-left: 10px;
	border-radius: 5px;
}

#searchbar button {
	float: right;
	margin-top: 4px;
	margin-right: 8px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

#searchpic {
	width: 28px;
	height: 28px;
}

nav {
	display: flex;
	background-color: pink;
	background-image: linear-gradient(to right, lightyellow, pink, orange);
	border-bottom: 1px solid #ff3300;
	box-shadow: 10px 5px 5px #888888;
	border-radius: 0px 0px 5px 5px;
}

nav ul li{
	width: 110px;
	margin:  0 0 0 10px;
	display: inline-block;
}

nav ul li:hover{
	border: dashed;
}

nav ul li img {
	height: 25px;
}

nav ul li a {
	margin-left: 5px;
	font-size: 20px;
	text-decoration: none;
}

a:link {
	color: #000000;
}

a:visited {
	color: grey;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

main {
	height: auto;
	margin: 30px;
}

footer .notes{
	font-size: small;
	background-color: lightgrey;
	text-align: center;
}
