body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
  
#container {
    margin: 0 auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 80%;
}

input[type="button"] {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="button"]:hover {
    background-color: #005fa3;
}

#error_Num {
    color: red;
    margin-bottom: 10px;
}

#result {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}