#container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
  
#time {
    font-size: 3em;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 200px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

button:disabled {
    color: gray;
    background-color: lightgray;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}