<div class="login-container">
  <div class="login-background"></div>
  <div class="login-card">
    <h2 class="login-title">Welcome back!</h2>
    <p class="login-subtitle">Log in to your account</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="off">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
      </div>
      <p class="text-center">
        <a href="#" (click)="goBack()">&#8592; Back to main page</a>
      </p>
           
    </form>
  </div>
</div>
