<mat-dialog-content id="register-dialog-content">
    <button id="close-button">X</button>
    <form class="form-group" action="">
        <div class="form-group">
            <label for="">username</label>
            <input class="form-control" type="text" placeholder="" 
                pattern="^[a-zA-Z][a-zA-Z0-9]{5,19}$" 
                title="Username must start with a letter, be between 6-20 characters, and contain only letters and numbers" 
                required>
        </div>
        <div class="form-group">
            <label for="">password</label>
            <input class="form-control" type="password" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="">reenter password</label>
            <input class="form-control" type="password" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="">email</label>
            <input class="form-control" type="email" placeholder="" required>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" type="submit">submit</button>
            <button class="btn btn-danger" data-bs-dismiss="modal">cancel</button>
        </div>
        <br>
        <a  href="" data-toggle="modal" data-dismiss="modal" data-target="#login">Already has account？Click me for login</a>
    </form>
</mat-dialog-content>
