<app-header></app-header>
<div class="container">
    <h1>GlobalTask management list </h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let task of tasks | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <tr (click)="onRowClick(task._id)">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/tasks', task._id]">Detail</button></td>
          <td>
            <button class="btn btn-danger" (click)="openDeleteDialog(task)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="button-wrapper">
    <div class="pagination-wrapper">
        <pagination-controls class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>

<app-footer></app-footer>