.container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
}

.task-list-container {
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
}

/* .user-info-container {
    width: 30%;
    padding: 1rem;
    background-color: #6bbcdf9b;
} */
