em {
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
}

.card {
    background-color: #ffffff3f;
    border: 1px solid #dddddd12;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.card-header h3 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 0;
}

.card-header p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}

.card-header span {
    font-weight: normal;
}

.card-body {
    padding: 10px;
}

.forecast-table {
    width: 100%;
    border-collapse: collapse;
}

.forecast-table th,
.forecast-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.forecast-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}